<h4>Books</h4>
<div class="index-body">
    <span>Title</span>    
    <span>Body</span> </br>

    
<% @books.each do |book| %>
<span class="book-title"><%= book.title %></span>
<span class="book-body"><%= book.body %></span>
<span class="book-show"><%= link_to 'Show', book_path(book.id) %></span>
<span class="book-edit"><%= link_to 'Edit', edit_book_path(book.id) %></span>
<span class="book-show"><%= link_to 'Delet', book_path(book.id), method: :delete,"data-confirm" => "Are you sure?" %></span>
<% end %>
</div>



<h4>New book</h4>
<form method="create" action="new">
<p>Title:</p></br>
<input type="text_field" name="title" /></br>

<p>Body</p>
<textarea name="body" rows="4" cols="40"></textarea></br>
<input type="submit" value="Create Book">
</form>